services:
  app:
    build: .
    depends_on:
      - db
    stdin_open: true
    tty: true
    environment:
      - DB_HOST=db
      - DB_PORT=5432
    networks:
      - app-network
    volumes:
      - ./logs:/app/logs

  db:
    image: postgres:18.1
    environment:
      POSTGRES_DB: aston_db
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network: